main{
    min-height: 400px;
}
footer{
    display: flex;
    justify-content: space-around;
    color: #231f1f;
    background-color: #DB9F75;
}
.section-footer1, .section-footer2{
    text-align: center;
}
footer ul li{
    list-style: none;
}
hr{
    margin: 20px;
}