*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 10px;
}

header{
    background-color: rgb(234, 220, 209);
    padding: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.logo{
    padding-left: 20px;
}

nav{
    padding-top: 10px;
}

nav > ul > li{
    list-style-type: none;
    display: inline;
    padding-right: 30px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: aliceblue;
}

footer{
    background-color: rgb(234, 220, 209);
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

footer ul li{
    list-style-type: none;
    margin-bottom: 5px;
}

.lista2{
    align-items: center;
}

.lista3{
    text-align: center;
    margin-right: 40px;
}

.logo2{
    margin-top: 20px;
    text-align: center;
}

.section1{
    background-color: rgb(242, 239, 234);
    padding: 100px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section1 .title{
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}

.section1 .text{
    width: 41%;
    margin-bottom: 70px;
    line-height: 25px;
}

.btn1 button{
    border: 2px solid black;
    background-color: rgb(242, 239, 234);
    font-size: 20px;
    text-align: center;
    height: 50px;
    width: 250px;
}

.section2{
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section2 .title{
    padding-top: 50px;
    margin-bottom: 50px;
}
.section2 .text{
    width: 35%;
    line-height: 25px;
    margin-bottom: 50px;
}

.section3{
    background-color: rgb(242, 239, 234);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.section3 .contenedor{
    flex-direction: row;
    width: 40%;
    padding-top: 70px;
    margin-left: 40px;
}
.section3 .title{
    padding-top: 50px;
    margin-bottom: 30px;
}
.section3 .text{
    width: 350px;
    line-height: 25px;
    margin-bottom: 30px;
}
.section3 .image{
    line-height: 400px;
    text-align: center;
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 20px;
}

.section4{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.section4 .cuadro{
    background-color: rgb(234, 220, 209);
    margin: 25px;
    height: 300px;
    width: 300px;
}

.section5{
    text-align: center;
    padding: 50px;
    background-color: rgb(242, 239, 234);
    margin-bottom: 10px;
}
.section5 .contenedor{
    background-color: white;
    width: 100%;
    margin: auto;
}
.section5 .title{
    padding-top: 50px;
    margin-bottom: 30px;
}
.section5 .text{
    padding-bottom: 50px;
}

.section6{
    text-align: center;
    padding: 50px;
    background-color: rgb(242, 239, 234);
    margin-bottom: 10px;
}
.section6 .title{
    padding-top: 50px;
    margin-bottom: 40px;
}
.section6 .text{
    padding-bottom: 50px;
}