*{
    border-radius: 5px;
    box-sizing: border-box;
}
.contenedor{
    border: 2px solid #ccc;
    width: 400px;
    padding: 10px;
    margin: auto;
    text-align: center;
}
header{
    background-color: rgb(100, 110, 252);
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
nav{
    background-color: rgb(240, 112, 112);
}
.contenedor2{
    display: flex;
    justify-content: space-between;
}
main{
    background-color: rgb(240, 166, 110);
    width: 67%;
}
footer{
    background-color: rgb(100, 110, 252);
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
aside{
    background-color: #f0a66e;
    align-items: stretch;
    width: 30%;
    align-content:center ;
}
article{
    background-color: aliceblue;
    padding: 2px;
    margin: 10px;
}
article > p:first-child{
    background-color: aliceblue;
}
article > header{
    background-color: rgb(103, 245, 103);
    padding: 2px;
    margin: 10px;
}
article > footer{
    background-color: rgb(172, 104, 235);
    padding: 2px;
    margin: 10px;
}
figure{
    background-color: rgb(240, 166, 110);
    padding: 2px;
    margin: 10px;
}
section{
    background-color: aliceblue;
    padding: 2px;
    margin: 10px;
}

article > p{
    background-color: burlywood;
    padding: 2px;
    margin: 10px;
}
